---
import placeholder from "../../images/placholder.jpg";
import img1 from "../../../src/images/caseDeReabilitat.jpg";
import img2 from "../../../src/images/caseDeReabilitat.2jpg.jpg";
import img3 from "../../../src/images/reciclare1.jpg";
---

<section>
  <h3 class="sub-section__title">Actiuni recente</h3>
  <div class="container">
    <h3 class="title">Reabilitarea unor case din zone defavorizate</h3>
    <p class="paragraph">
      Reabilitarea unor case vechi din Jud. Valcea situate în zone defavorizate unde se constată un
      exod de populație și îmbătrânirea populației rămase. Mod de implementare - reabilitarea
      spațiilor de locuință în care membrii fundației să poată fi cazați în condiții decente
      (instalație electrică conformă, reabilitarea/igienizarea spațiilor interioare/grupurilor
      sanitare). Aceasta actiune este realizată cu ajutorul partenerilor nostri, Avi Prod Group Srl.
      <br /> Scop - revitalizarea zonelor participante în proiect și implicare tinerilor în proces
    </p>
    <div class="grid-of-3">
      <div class="img-container">
        <img src={img1} alt="Actiune de ecologizare" class="section-activites__image" />
        <p class="section-activites__caption">Stare curenta a caselor</p>
      </div>
      <div class="img-container">
        <img src={img2} alt="Actiune de ecologizare" class="section-activites__image" />
        <p class="section-activites__caption">Stare curenta a caselor</p>
      </div>
      <div class="img-container">
        <img src={img3} alt="Actiune de ecologizare" class="section-activites__image" />
        <p class="section-activites__caption">Sticle reciclate</p>
      </div>
    </div>
    <h3 class="title">Reciclăm pentru educație</h3>
    <p class="paragraph">
      Cu ajutorul partenorilor noștri (Metaminds) am organizat o acțiune de colectare selectivă a
      deșeurilor (plastic,hartie,sticla,aluminiu,baterii etc.). În urma colectării, deșeurile au
      fost depuse la centre de reciclare și transformate în puncte. Cu ajutorul punctelor au fost
      achiziționate 79 de tablete pentru Școala Gimnazială Scorțoasa din județul Buzău și 17
      laptopuri pentru Colegiul Național „Mihai Viteazul”, București. <br /> Acțiunea la care au participat
      139 de elevi a fost premiată de Comunity Index Magazine, secțiunea „Educație pentru elevi”, locul
      I (Gold), Reciclez pentru educație, nu doar pentru natură.
    </p>
  </div>
</section>

<style>
  .container {
    margin: 2rem 0;
  }
  .section-activites__image {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  @media (max-width: 500px) {
    .section-activites__image {
      width: 100%;
    }
  }
  .section-activites__caption {
    display: block;

    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: 400;
  }

  .grid-of-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2rem 0;
  }
  @media (max-width: 500px) {
    .grid-of-3 {
      grid-template-columns: 1fr;
    }
  }

  .title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: var(--color-heading-4th);
  }

  .img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .img-container img {
    max-height: 30rem;
  }
</style>
