---
import ChartIcon from "../../icons/ChartIcon";
import DaysIcon from "../../icons/DaysIcon";
import PersonIcon from "../../icons/PersonIcon";

import actiuni from "../../../public/docs/activitatifdc1.pdf";
---

<script>
  const hiddenEl = document.querySelectorAll(".hidden");

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("show");
        observer.disconnect();
      }
    });
  });

  hiddenEl.forEach((el) => observer.observe(el));
</script>

<div class="container">
  <h2 class="section__title">Actiunile noastre</h2>
  <div class="numbers-row">
    <div class="item hidden">
      <div class="svg">
        <ChartIcon />
      </div>
      <h2 class="item-title">Numar actiuni de educatie ecologica intreprinse</h2>
      <h3 class="number">146</h3>
    </div>
    <div class="item hidden">
      <div class="svg">
        <DaysIcon />
      </div>
      <h2 class="item-title">Numar zile-om dedicate educatiei ecologice</h2>
      <h3 class="number">168.018</h3>
    </div>
    <div class="item hidden">
      <div class="svg">
        <PersonIcon />
      </div>
      <h2 class="item-title">Numar tineri participanti</h2>
      <h3 class="number">10.195</h3>
    </div>
  </div>
  <a href={actiuni} class="btn-page">Lista actiuni</a>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

  .container {
    margin-bottom: 4rem;
  }

  .container h2 {
    text-align: center;
  }

  .numbers-row {
    margin: 3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  .item {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .item:nth-child(2) {
    transition-delay: 0.5s;
  }

  .item:nth-child(3) {
    transition-delay: 1s;
  }

  .svg {
    width: 5rem;
  }

  .item-title {
    color: var(--text-color);
    width: 20rem;
    font-size: 2rem;
    text-align: center;
  }

  .number {
    font-size: 2.8rem;
    font-family: "Anton", sans-serif;
    font-style: italic;
  }

  .btn-page {
    display: block;
    margin: 0 auto;
    background-color: var(--color-button);
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
    padding: 1rem 1.5rem;
    background-color: $color-button;
    border-radius: 2rem;
    box-shadow: 0 1rem 2rem rgba(var(--color-black), 0.4);
    transition: all 0.4s;
    text-align: center;
  }
  .btn-page:hover {
    transform: translateY(-1rem);
    box-shadow: 0 1rem 4rem rgba(var(--color-black), 0.4);
  }

  .btn-page:active {
    transform: translateY(0);
  }

  @media (max-width: 700px) {
    .numbers-row {
      grid-template-columns: 1fr;
    }
  }
</style>
