---
import eco from "/about-page/eco.jpg";
import rec from "/about-page/rec.jpg";
import tab from "/about-page/tab.jpg";
import expo from "/about-page/expo.jpg";
---

<script>
  const el = document.querySelectorAll(".hidden-img");

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("show-img");
      } else {
        entry.target.classList.remove("show-img");
      }
    });
  });
  el.forEach((els) => observer.observe(els));
</script>

<section>
  <h3 class="sub-section__title">Tipuri de actiuni intreprinse</h3>
  <div class="types-section">
    <div class="grid-1-of-2-odd">
      <article class="image-container hidden-img">
        <img src={eco} alt="Actiune de ecologizare" class="section-activites__image" />
        <p class="section-activites__caption">
          Actiuni de amenajare a Parcului National Cozia, 1999
        </p>
      </article>
      <div>
        <h3 class="title">Ecologizare</h3>
        <ul class="activities__list">
          <li class="activities__item">
            <span class="status">Cea mai veche:</span>
            Floare de Colt si-a inceput activitatea inca din anul 1995. Una dintre actiunile care a adus
            la intemeierea organizatiei ecologice este proiectul realizat de Ziua Pamantului in data
            de 13.04.1995 unde s-a igienizat parcul Herastrau, colectandu-se 2,5 remorci de gunoaie.
            Au participat 161 de elevi si 8 profesori in colaborare cu „Corpul Pacii”.
          </li>
          <li class="activities__item">
            <span class="status">Cea mai populară:</span> „SARBATOAREA PLANTARII ARBORELUI” a avut cea
            mai mare participare cu peste 750 de elevi Colegiul National Mihai Viteazul. Aceasta a implicat
            Plantarea de puieti, arbusti si gard viu în curtea CNMV întâlnirea cu ministrul Mediului,
            Concert Holograf, Nicu Alifantis, Ducu Bertzi. si Mircea Baniciu. Activitatea a fost sponsorizata
            de Regia Nat. a Padurilor, Fundatia Holograf si mediatizata de Adevarul, Revista Padurilor,
            Pro TV, Evenimentul Zilei.
          </li>
          <li class="activities__item">
            <span class="status">Cea mai nouă:</span> Aplicatia Ecologica „Parcul National Cozia” din
            data 05.11.2017-08.11.2017 cu scopul Hidrocentrala Lotru-Ciunget, Statiunea Vidra, Barajul
            Vidra, Pausa, Manastirea Stanisoara, Vf. Cozia (40 participanti), Salina Ocnele Mari
          </li>
        </ul>
      </div>
    </div>
    <div class="grid-1-of-2-odd">
      <div class="image-container hidden-img">
        <img src={rec} alt="Actiune de ecologizare" class="section-activites__image" />
        <p class="section-activites__caption">Parcul National Calimani, 2007</p>
      </div>
      <div>
        <h3 class="title">Reciclare</h3>
        <ul class="activities__list">
          <li class="activities__item">
            <span class="status">Cea mai veche:</span>
            „SALVATI MEDIUL INCONJURATOR” din data de 24.03.95 unde S-au reciclat 707 kg.Hartie la centrul
            de recuperare a materialelor refolosibile.unde au participat 50 elevi si 2 profesori
          </li>
          <li class="activities__item">
            <span class="status">Cea mai populară:</span> Scoli pentru viitor verde in data de 03.2010
            -06.2010 unde Au fost stranse si predate catre fabricile de reciclare 2060 kg. hartie, 170
            kg. peturi. Au fost aduse in curtea liceului 3 containere pentru colectarea selectiva a deseurilor
            si unde s-au implicat 300 elevi + 3 profesori
          </li>
          <li class="activities__item">
            <span class="status">Cea mai nouă:</span> Aplicatia Ecologica „Parcul National Colectare
            selectiva a deseurilor din plastic,hartie,sticla,aluminiu,baterii- depunerea lor la centre
            de reciclare-transformarea lor in puncte si a punctelor in 79 tablete+17 laptopuri pt Sc
            Gen Scortoasa- jud. Buzău si 17 laptopuri pt „C. N. Mihai Vitezul” Bucuresti. Partener :Metaminds
            cu ajutorul sponsorului „Metaminds” si a fost mentionata in Comunity Index Magazine, sectiunea
            „Educatie pentru elevi”,loculI (Gold), Recicleaz pentru educatie,nu doar pentru natura.
          </li>
        </ul>
      </div>
    </div>
    <div class="grid-1-of-2-odd">
      <div class="image-container hidden-img">
        <img src={tab} alt="Actiune de ecologizare" class="section-activites__image" />
        <p class="section-activites__caption">Parcul National Muntii Rodnei, 2009</p>
      </div>
      <div>
        <h3 class="title">Tabere</h3>
        <ul class="activities__list">
          <li class="activities__item">
            <span class="status">Cea mai veche:</span>
            TAB. ECOLOGICA PIATRA-MARE in data de 16.06.95 până la 21.06.95 unde S-a degajat cascada
            Tamina de busteni si crengi. S-au amenajat trepte de acces. S-au igienizat zonele cascada
            Tamina si cabana Susai. Combaterea eroziunii terenului pe traseul Cioplea-Susai. Si au paritcipat
            24 de elevi in colaborare cu Fundatia Salvamont-Predeal, Antrefrig, Ferfelis Line si mediatizata
            de Pro TV, Uniplus, Radio Contact, Romania Libera
          </li>
          <li class="activities__item">
            <span class="status">Cea mai populară:</span> ) Aplicatie Ecologica “Parcul National Cozia”
            In data de 06.04. 2015 08.04.2015 In Ramnicu Valcea (Parc Zavoi), Statiune Vidra, Hidrocentrala
            Lotru-Ciunget, Pausa, Manastirea Stanisoara, Crucea Trasnitului, Manastirea Stanisoara, Salina
            Ocnele Mari S-au implicat 64 elevi + 1 profesor 195 zile-om Sponsorizata de Regia Nationala
            a Padurilor 2)
          </li>
          <li class="activities__item">
            <span class="status">Cea mai nouă:</span> Aplicatia ecolgica Muntii Iezer-Papusa in data
            de 16-19.08.2021 in Cabana Ursuletul-Cuca-Golul alpin Ursuletul-Lacul Iezer-Vf.Iezer-Ursuletul
            Ursuletul-Vf.Papusa-Ursuletul Unde au paritcipat 23 participanti 92 zile-om
          </li>
        </ul>
      </div>
    </div>
    <div class="grid-1-of-2-odd">
      <div class="image-container hidden-img">
        <img src={expo} alt="Actiune de ecologizare" class="section-activites__image" />
        <p class="section-activites__caption">Expoziția „Franța în imagini”</p>
      </div>
      <div>
        <h3 class="title">Expoziții</h3>
        <ul class="activities__list">
          <li class="activities__item">
            <span class="status">Cea mai veche:</span>
            Expozitia “Omul si mediul înconjurator” organizata pe cinci sectiuni:gradinita, cls.I-IV,
            cls.V- VIII, cls. IX-XII si foto.Vernisajul a avut loc în holul liceului “Mihai Viteazul”,
            acordându-se 17 premii în valoare de 500.000 lei. Au participat 317 elevi din sectoarele
            1, 2, 3 si 4 în perioada 8-13.01.1996
          </li>
          <li class="activities__item">
            <span class="status">Cea mai populară:</span> Editia a treia a expozitiei “Omul si mediul
            înconjurator” a fost prezentata la Romexpo în pav. B, cu ocazia expozitiei internationale
            “Sanatatea Terrei” si a zilei Pamântului. Au participat 400 de tineri, fiind selectionate
            171 de lucrări.
          </li>
          <li class="activities__item">
            <span class="status">Cea mai nouă:</span> Expoziția aniversară „Franța în imagini” amplasată
            în incinta Colegiului Național „Mihai Vitezul”. Aceasta cuprinde imagini din anii 1918 și
            2018. La această acțiune au participat 50 de tineri, cumulându-se în total 500 de zile-om
            dedicate educației ecologice.
          </li>
        </ul>
      </div>
    </div>

    <style>
      .grid-1-of-2-odd {
        display: grid;
        grid-template-columns: 1.25fr 1.75fr;
        gap: 10rem;
        margin-top: 5rem;
      }

      .hidden-img {
        transform: translateX(0%) scale(0.5);
        filter: blur(5px);
        transition: all 0.5s ease;
      }

      .show-img {
        transform: translateX(0) scale(1);
        filter: blur(0px);
      }
      @media (max-width: 900px) {
        .grid-1-of-2-odd {
          grid-template-columns: 1fr;
          gap: 0rem;
        }
      }

      .activities__list {
        list-style: square;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .title {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        color: var(--color-heading-4th);
      }

      .activities__item {
        font-size: 1.5rem;
        color: #5f5f5f;
      }
      .activities__item:not(:last-child) {
        margin-bottom: 0.5rem;
      }

      .status {
        font-size: 1.8rem;
        font-weight: 600;
        color: black;
      }

      .image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .section-activites__image {
        display: block;
        width: 80%;
        margin: 0 auto;
      }
      @media (max-width: 900px) {
        .section-activites__image {
          width: 100%;
        }
      }
      .section-activites__caption {
        display: block;
        color: var(--text-color);
        margin-top: 0.5rem;
        font-size: 1.2rem;
        font-weight: 400;
      }
    </style>
  </div>
</section>
