---
import AboutUsSection from "../components/AboutUsSection.astro";
import HeroSectionIndex from "../components/HeroSectionIndex.astro";
import HistorySection from "../components/HistorySection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Fundatia ecologica floare de colt">
  <main>
    <HeroSectionIndex />
    <div class="div">
      <AboutUsSection />
      <HistorySection />
    </div>
  </main>
</Layout>

<style>
  .div {
    margin: 2rem;
  }
</style>
