---
import logo from "../images/logo.png";
import NavBar from "./NavBar";
---

<header class="header">
  <div class="logo-container">
    <a href="/">
      <img src={logo} alt="Logo" />
      <h1 class="title">
        <span class="status">Fundația Ecologică</span>
        <span class="name">„Floare de Colț”</span>
      </h1>
    </a>
  </div>

  <NavBar client:load />
</header>

<style>
  .header {
    display: flex;
    padding: 1rem 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-secondary);
    padding-right: 7rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .logo-container a {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }

  .logo-container img {
    width: 10rem;
    height: auto;
  }

  .title {
    color: white;
    font-weight: 700;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .status {
    font-size: 1.7rem;
  }

  .name {
    font-size: 2.2rem;
  }

  .button-img {
    width: 3rem;
    height: auto;
  }

  @media (max-width: 560px) {
    .header {
      padding-right: 5rem;
    }

    .logo-container img {
      width: 6rem;
    }

    .status {
      font-size: 1.3rem;
    }

    .name {
      font-size: 1.8rem;
    }

    .button-img {
      width: 2rem;
    }
  }
</style>
